body {
    font-family: monospace, monospace;
    margin: 0;
    padding: 0;
    background-color: #83a0a7;
    color: #333;
  }
 
  
  h1 {
    text-align: center;
    margin-top: 1rem;
  }
  
  
  .app-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .add-favourite-btn {
    background-color: rgba(51, 134, 132, 0.484);
    justify-content: center;
  padding: 0.5rem;
    border-radius: 7px;
    align-items: center;
    margin-bottom: 1rem;
  }
    .add-favourite-btn:hover {
        background-color: rgb(55, 116, 115);
    }
  